/* http://meyerweb.com/eric/tools/css/reset/    v2.0 | 20110126   License: none (public domain)*/ html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;    font-size: 11pt;    font-family: 'Roboto', sans-serif;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}button {    margin: 0;    padding: 0;}
/*============================================*/
$base-color: #222831;
$border-dark: rgba($base-color, 0.88);

$second-color: #393E46;
$high-color: #FFD369;
$chocolate-color: #d2691e;
$chocolate-high-color: #e47921;
$third-color: #EEEEEE;
$third-color-dark:rgb(207, 207, 207);

body {
    display: flex;
    background-color: #303338;

    flex-direction: column;
    min-height: 100vh;       /* body takes whole viewport's height */
}
  
main {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    flex: 1;                 /* this will make the container take the free space */
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 300px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #222831; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 40px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

    li {
        margin: 20px 0;

    }
}
  
.logo {
    padding: 0 12px;
    margin-bottom: 48px;
    text-decoration: none;
    font-size: 48px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}
  
.transparent-button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}



.closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
  color: $third-color;
  cursor: pointer;
}

.openbtn {
   cursor: pointer;
   font-size: 36px;
   color: $base-color;
}

.active, .collapsible:hover {
    filter: brightness(1.10);
}

.collapsible {
    font-weight: bold;
    background-color: $second-color;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notify{
    border-radius: 20px;
    padding: 3px;
    min-width: 16px;
    min-height: 16px;
    text-align: center;
}

.notify-background{
    background: $chocolate-color;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f3f3f3;
}

.user-list {

    li{
        color:white;
        padding: 8px 12px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #393E46;
    }
    li:hover {
        filter: brightness(1.10);
    }
}

.floating-label-group {
    display: flex;
	position: relative;
    align-items: center; 

    .form-control {
        flex: 4;
        height: 30px;
        padding: 0px 12px;
    }

    .add-icon {
        flex:1;
		position: relative;
        cursor: pointer;
        color: $base-color;
        height: 34px;
    }

    .add-icon:hover{
        background: $third-color-dark;
    }

	.floating-label {
		font-size: 12px;
        font-weight: bold;
		color: #1b1b1b;
		position: absolute;
		pointer-events: none;
		top: 11px;
		left: 12px;
		transition: all 0.1s ease;
	}

	input:focus ~ .floating-label,
	input:not(:focus):valid ~ .floating-label {
		top: -17px;
		bottom: 0px;
		left: 10px;
		font-size: 12px;
		opacity: 1;
		color: $third-color;
	}
}

.center{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.login-form {
    color: white;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    background-color: $base-color;
    padding: 60px 50px 50px 50px;
    border-radius: 8px;
    margin-top: -100px;

    input{
        margin-top: 4px;
        margin-bottom: 20px;
        padding: 8px;
    }

    input[type="submit"]{
        padding: 8px;
        font-weight: bold;
    }

    a{
        text-align: center;
        padding: 8px;
        color: #FFD369;   
    }

    .logo {
        text-align: center;
        font-size: 56px;
    }
 
}

#messageInputBox:disabled {
    background: #cccccc73;
}

#messages {
    overflow: auto;
    flex: 1;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

#message-form{
    display: flex;
    input{
        flex: 1;
        margin: 10px;
        padding: 10px 18px;
        border-radius: 20px;
        border: none;
        background-color: whitesmoke;
    }
}

.message {
    display: flex;
    gap: 4px;
    min-width: 20%;
    max-width: 600px;
    min-height: 40px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: stretch;
    justify-content: space-between;
    font-size: small;
    padding: 8px 8px 4px 8px;
    border-radius: 3px;
    font-weight: 600;
    border-radius: 10px;
}

.message-date{
    align-self: flex-end;
    font-size: 11px;
}

.sender {
    background-color: $chocolate-color;
    color: white;
}

.receiver {
    background-color: white;
    color: $base-color;
}
   
#load {
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 13px;
}

#buttons {
    display: flex;
    justify-content: center;

    button:disabled
    {
        background-color: #636363 !important;
    }

    button{
        background-color: $chocolate-color !important;
    }

    button:hover{
        background-color: $chocolate-high-color !important;
    }
}

button {
    margin: 0.3em 0.2em;
}

div#videos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div#videos > video {
    background: black;
    width: 640px;
    display: block;
    margin: 1em;
}

.video-chat-area{
    padding: 10px;
    background-color:#16191f;
}
